#box {
  width: 100px;
  height: 100px;
  border: 2px solid black;
}

.blue {
  background-color: blue;
}

#car {
  font-size: 100px;
  margin-top: -50px;
}

#buttons {
  display: flex;
  gap: 5px;
}

#timer {
  font-size: 50px;
  color: green;
}
